<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>this is details view</h1>
    <hr />
    <br />
    <h2>{{blog_object.title}}</h2>
    <p>{{blog_object.content}}</p>
    <a href="{{blog_object.get_edit_url}}">
      <button>edit</button>
    </a>
    <br />
    <a href="{{blog_object.get_delete_url}}">
      <button>Delete</button>
    </a>
  </body>
</html>
